body {
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 2fr auto 1fr;
    background-image: url('jsbg.jpg');
    background-attachment: fixed;
    background-size: cover;
}
p, button{
    color:#222222;
}
strong{
    background: orange;
    
}
section > article:nth-child(2n){
    background-color:rgba(128, 128, 128, 0.74);
}
section > article:nth-child(2n+1){
    background-color:rgba(204, 204, 204, 0.74);
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    columns: 2 / 1;
    background-image: url(server.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
header > h1 {
    text-align:center; 
    
}
nav{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    
}
nav > div {
    position:sticky;
    display:flex;
    flex-direction: column;

}

nav > div > button {
    background: orange;
    height: 10vh;
    
}
section {
    grid-column: 2;
    grid-row: 2;
}
footer {
    grid-column: 2;
    grid-row: 3;
    align-self: flex-end;
}
article > div{
    display:flex;
}
h3 {
    text-align:center;
}
footer {
    background-color:rgba(255, 166, 0, 0.705);
}
.pic{
    grid-column: 1 ;
    grid-row: 1 ;
    padding: 3%;
}
