body {
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 2fr auto 1fr;
    background-image: url('images/jsbg.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
p, button{
    color:#222222;
}
strong{
    background: orange;
    
}
section > article:nth-of-type(odd){
    background-color:rgba(128, 128, 128, 0.74);
}
section > article:nth-of-type(even){
    background-color:rgba(204, 204, 204, 0.74);
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    columns: 2 / 1;
    background-image: url(images/server.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
    header > h1 {
        text-align:center; 
        
    }

nav{
    background-color: none;
}
    nav ul{ 
        display: flex;                
        margin: 0;
        padding: 0;

    }
    nav li{
        list-style-type: none;

    }
    nav li img{
        width: 10vh;
        height: 10vh;
    }

footer{
    background-color: indigo;
}

.contentArticle{
    background-color: rgb(200, 200, 200);
}
    article:nth-child(even){
        background-color: rgb(175, 175, 175);
        padding: 0.5%;
    }

@keyframes anim_nav_bar{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translatex(0px);
    }
}
    .nav_bar{
        grid-column: 1 / 2;
        grid-row: 2 / auto;
        text-align: center;
        display: block;
        animation: anim_nav_bar 0.5s;
    }
        nav{
            position: sticky;
            top: 0;
            margin: 0% 2% 2% 0;
        }
            nav ul{
                display: flex;
                flex-direction: column;
                min-height: auto;
                max-width: 25%;
            }
            nav ul li{
                background-color: rgba(128, 128, 128, 0.2);
                margin-top: 5%;
                margin-bottom: 5%;
            }
            nav ul li:first-child{
                margin-top: 0;
            }
            nav ul li:last-child{
                margin-bottom: 0;
            }

section {
    grid-column: 2;
    grid-row: 2;
}
footer {
    grid-column: 2;
    grid-row: 3;
    align-self: flex-end;
}
article > div{
    display:flex;
}
h3 {
    text-align:center;
}
footer {
    background-color:rgba(255, 166, 0, 0.705);
}
.pic{
    grid-column: 1 ;
    grid-row: 1 ;
    padding: 3%;
}
