body {
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 2fr auto 1fr;
    background-image: url('images/jsbg.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
p, button{
    color:#222222;
}
strong{
    background: orange;
    
}
section > article:nth-of-type(odd){
    background-color:rgba(128, 128, 128, 0.74);
}
section > article:nth-of-type(even){
    background-color:rgba(204, 204, 204, 0.74);
}

/* header {
    display: flex;
    justify-content:center;
    align-items: center;
    columns: 2 / 1;
    background-image: url(images/server.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
    header > h1 {
        text-align:center; 
        
    }
.pic{
    grid-column: 1 ;
    grid-row: 1 ;
    padding: 3%;
}
    */

header{
    grid-column: 1 /span 2;
    grid-row: 1;
}
 header div img{
     width: 100%;
 }
nav{
    background-color: none;
}
    nav ul{ 
        display: flex;                
        margin: 0;
        padding: 0;

    }
    nav li{
        list-style-type: none;

    }
    nav li img{
        width: 10vh;
        height: 10vh;
    }

footer{
    background-color: indigo;
}

.contentArticle{
    background-color: rgb(200, 200, 200);
}
    article:nth-child(even){
        background-color: rgb(175, 175, 175);
        padding: 0.5%;
    }

@keyframes anim_nav_bar{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translatex(0px);
    }
}
    .nav_bar{
        grid-column: 1 / 2;
        grid-row: 2 / auto;
        text-align: center;
        display: block;
        animation: anim_nav_bar 0.5s;
    }
        nav{
            position: sticky;
            top: 0;
            margin: 0% 2% 2% 0;
        }
            nav ul{
                display: flex;
                flex-direction: column;
                min-height: auto;
                max-width: 25%;
            }
            nav ul li{
                background-color: rgba(128, 128, 128, 0.2);
                margin-top: 5%;
                margin-bottom: 5%;
            }
            nav ul li:first-child{
                margin-top: 0;
            }
            nav ul li:last-child{
                margin-bottom: 0;
            }

section {
    grid-column: 2;
    grid-row: 2;
}
footer {
    grid-column: 2;
    grid-row: 3;
    align-self: flex-end;
}
article > div{
    display:flex;
}
h3 {
    text-align:center;
}
footer {
    background-color:rgba(255, 166, 0, 0.705);
}


@keyframes footer_arrow {
    0% {transform: translateY(0px);}
    50% {transform: translateY(5px);}
    100% {transform: translateY(0px);}
}
@keyframes button_social {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

article > div > img {
    max-width: 25%;
    margin:5px;
    height:fit-content;
}
footer {
    display:flex;
    justify-content: center;
}
footer > div > button {
    background-color:rgba(255, 166, 0, 0);
    border-radius: 40px;
    width:30px;
    height:30px;
    padding: 0px;
    
}
footer > div > button:hover {
    animation: button_social .5s linear alternate infinite;
}
footer > div > a > button {
    background-color:rgba(255, 166, 0, 0);
    
}
footer > div > a > button:hover {
    animation: footer_arrow .5s linear alternate infinite;
}
footer > div {
    
    text-align:center;
    background-color:rgba(255, 166, 0, 0.705);
}
footer{
    background-color:rgba(255, 166, 0, 0);
    
}
section > article:hover{
    background-color:#222222;
    color: #f5f5f5
}
section > article:hover p {
    color: #f5f5f5
}

.variable {
    color:#9CDCDA
}
.code {
    color:#D4D4D4
}
.true_false {
    color:#569CD6;
}
.instruction {
    color:#C586C0;
}
#js_title{
    color:#F7E018;
}
.comment {
    color: #6A8A35;
}
.function{
    color:#2566CB;
}
article {
    padding: 5px;
    margin: 5px;
    border-radius: 20px 0px 20px 0px;
}
@media only screen and (max-width:1024px){
    body{
        display: flex;
        flex-direction: column;
    }

    header{
        grid-template-columns: 2;
        grid-template-rows: 1;

    }
        .pic{
            grid-column: 1;
            grid-row: 1;
        }



    footer{
    }
    .navbar{
    }
    section{
    }
        article > div {
            flex-direction:column;
        }
        article > div > img {
            max-width: 100%;
        }
}